{{define "header"}}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {{template "pageStyle" .}}
            <title>GeekProjex.com Market Trading Client</title>
        </head>
        <body>
{{end}}

{{define "footer"}}
        </body>
    </html>
{{end}}

