{{define "pageStyle"}}
<style>
    body {
        padding: 0px;
        margin: 0px;
        background-color: black !important;
    }
    #page {
        min-height:99vh;
        border:none;
        width:100%;
        background-color: black;
    }
    #topBar {
        height:2em;
        min-width: 100%;
        background-color: black;
        border-bottom: thin groove slategray;
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 25% 5% 10% 10% 10%;
        font-size: 1.5vmin !important;
    }
    #topBar > div {
        text-align:center !important;
        align-content: center;
        align-items: center;
    }
    #graphBar {
        height:8em;
        min-width:100%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    #graphBar > div {
        border:thin solid white;
        color: white;
        text-align: center;
    }
    #topBar img {
        max-height: 2em;
    }

</style>
{{end}}
{{template "header" .}}
    <div id="page">
        <div id="topBar"></div>
        <div id="contents">
            <div id="graphBar">
                <div>BTC-USD</div>
                <div>LTC-USD</div>
                <div>ETH-USD</div>
                <div>Gold</div>
                <div>Silver</div>
            </div>
        </div>
    </div>

    <script type="text/x-template" id="topBarTemplate">
        <div id="topBar">
            <img src="imgs/goCryptoLogo.png" class=""/>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <i class="text-light">[[userName]]</i>
            <a href="/signup" class="text-light">Register Free</a>
            <a href="/login" class="text-light">Login</a>
        </div>
    </script>

    <script>
        let defaultTicker = null;

        // Top Bar Vue
        let topBarV = new Vue({
            el:"#topBar",
            template:"#topBarTemplate",
            data: {
                tickerTypes: ["BTC","LTC","ETH"],
                tickerPrices: [{ "type":"BTC", "price": 0},{ "type":"ETH", "price": 0},{ "type":"LTC", "price": 0}],
                hasSession: false,
                isLoggedIn: false,
                hasOath: false,
                userName: "Anon" + (Math.floor(Math.random() * Math.floor(999999))).toString(),
            },
            methods: {

            },
            delimiters: ["[[","]]"],
        });

        // Contents Vue
        let contentsV = new Vue({
            el:"#contents",
            data: {
            },
            methods: {
            }
        });

        // Utilities
        function isDef(thing) {
            if ( typeof thing == "undefined" || thing == null) { return false; }
            return true;
        }
    </script>
{{template "footer" .}}