{{define "pageStyle"}}
<style>
    body {
        padding: 0px;
        margin: 0px;
        background-color: black !important;
    }
    #page {
        min-height:99vh;
        border:none;
        width:100%;
        background-color: black;
    }
    #topBar {
        height:2em;
        min-width: 100%;
        background-color: black;
        border-bottom: thin groove slategray;
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 25% 5% 10% 10% 10%;
    }
    #topBar img {
        max-height: 2em;
    }
</style>
{{end}}
{{template "header" .}}
    <div id="page">
        <div id="topBar"></div>
        <div id="contents"></div>
    </div>

    <script type="text/x-template" id="topBarTemplate">
        <div id="topBar">
            <img src="imgs/goCryptoLogo.png" class="mx-auto"/>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <a href="/login" class="mx-auto text-light">Login</a>
            <a href="/signup" class="mx-auto text-light">Register Free</a>
            <i class="mx-auto text-light">[[userName]]</i>
        </div>
    </script>

    <script>
        let defaultTicker = null;

        // Top Bar Vue
        let topBarV = new Vue({
            el:"#topBar",
            template:"#topBarTemplate",
            data: {
                tickerTypes: ["BTC","LTC","ETH"],
                tickerPrices: [{ "type":"BTC", "price": 0},{ "type":"ETH", "price": 0},{ "type":"LTC", "price": 0}],
                hasSession: false,
                isLoggedIn: false,
                hasOath: false,
                userName: "Anon" + (Math.floor(Math.random() * Math.floor(9001))).toString(),
            },
            methods: {

            },
            delimiters: ["[[","]]"],
        });

        // Contents Vue
        let contentsV = new Vue({
            el:"#contents",
            data: {
            },
            methods: {
            }
        });

        // Utilities
        function isDef(thing) {
            if ( typeof thing == "undefined" || thing == null) { return false; }
            return true;
        }
    </script>
{{template "footer" .}}